// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tehtävä 1: HTML ja CSS alkuun
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/portfolio1.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Tehtävässä opeteltiin HTML:n ja CSS:n käyttöä opettajan antaman esimerkki pohjan avulla. Tein sivuston, jossa on neljä välilehteä: Alku, Tietoa, Kurssit ja Harrastukset.<br><br> Alku sivulla on nimeni sekä yliopisto, jossa opiskelen. Tietoa sivulla kerron lisää itsestäni sekä tekemästäni sivustosta. Kurssit sivulla löytyy ne kurssit, joihin tiesin osallistuvani, sekä lyhyt kuvaus niiden sisällöistä. Harrastukset sivulla kerroin harrastuksistani kuten mitä videopelejä pelaan sekä lisäsin kuvia lemmikeistäni. <br><br> Tehtävän avulla HTML ja CSS tulivat yhä tutuimmiksi, sekä tutustuin erilaisten ominaisuuksien/efektien tekemiseen. Sivuston tekemiseen käytin lähinnä opettajan antamaa pohjaa mallina muokaten sitä ja lisäämällä siihen uusia ominaisuuksia. Käytin netistä haettuja ohjeita apunani eri ominaisuuksien teossa. Tutustuin myös HTML ja CSS validaattoreihin. <br><br> Tehtävän teko sujui hyvin enkä kohdannut huomattavia vaikeuksia tehtävää tehdessä, enkä tekisi sitä nyt eri tavalla. 
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window